<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script href="text/javascript">
        document.addEventListener('DOMContentLoaded', init)
        function init() {
            const idcheck = document.querySelector('#idcheck_btn')
            idcheck.addEventListener('click', clickHandler)

            function clickHandler() {
                const userid = document.querySelector('#userid')
                const data = JSON.stringify({ userid : userid.value })
                const msg = document.querySelector('#msg')

                const xhr = new XMLHttpRequest()
                xhr.open('POST', 'http://localhost:3000/user/idcheck',true)
                xhr.setRequestHeader('Content-Type', 'application/json')
                xhr.send(data)
                
                xhr.onreadystatechange = () => {
                    try{
                        if(xhr.stauts == 4 && xhr.status == 200){
                            //가입가능은 1 가입 불가능2
                            const {result} = JSON.parse(xhr.response)
                            if( result === 2 ) throw new Error('아이디가 중복되었습니다.')
                            msg.innerHTML('사용이 가능합니다.')
                        }
                    } catch(e){
                        //가입 불가능할 경우
                        msg.innerHTML('사용이 불가능합니다.')
                    }
                }

            }
        }

    </script>
</head>
<body>
    <form method = "post" action = "/user/idcheck">
        <input type = "text" name = "userid" id = "userid">
        <input type ="button" id = "idcheck_btn"value = "중복체크">
        <div id = "msg"></div>
    </form>
</body>
</html>